.flexboxContenaier{
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 100px;
 
}

.flexRec > * {
    
    padding-left: 50px;
    padding-right: 50px;
    margin-top:50px;


}

.flexRec > h3 {
    
    font-size: 27px;

}

.flexRec{ 
    
    
   
    height: 200px; 
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center

}

.flexRec:first-child {
    
    background-color: #f4979f
  }

  .flexRec:nth-child(2) {
    
    background-color: #605f7f
  }

  .flexRec:nth-child( 3) {
    
    background-image: url(images/box-bg.jpg);
    background-size:cover;
  }

  .flexRec:nth-child(4) {
    background-size:cover;
    background-image: url(images/box-bg-lg.jpg);
  }
  

  .flexRec:nth-child(5) {
    
    background-color: #84c99d
  }



.flexRec *{ margin-top: 10px;}

.flexbtn { margin-top:   20px ;
     font-weight: bold;
      font-size: 11px;
    }

.flexbtn > i { margin-left: 20px;} 
