.icone{
    background-color: #f4f8fb;
    padding: 70px 13%;
}


.iconecontain {
  margin-top: 30px;
}
.iconecontain * {
  margin-top: 30px;
}
 




.btnGrey{
  background-color: #e2e2e2;
  color:#f4f8fb;
  border:none;
  border-radius: 7px;
  padding: 10px;
}

.btnBuy{
  background-color: #7dcd9a;
  color:#f4f8fb;
  border:none;
  border-radius: 7px;
  padding: 10px;
}



.btnviolet{
  background-color: #be8cc1;
  color:#f4f8fb;
  border:none;
  border-radius: 7px;
  padding: 10px;
}

.Os{
  font-size: 50px;
  color: #c4c4c4;
}