@media (min-width: 800px) {

    .MainText{
       display: flex;
       flex-direction: row;
    }
    .ego{align-self: center; }
    .MainItem{flex:1; padding: 17px; }

     .flexboxContenaier{flex-direction: row; display: flex; flex-flow: wrap;}

     .flexRec:nth-child(1) {
    
       flex-basis: 50%;
      }

      .flexRec:nth-child(2) {
    
        flex-basis: 50%;
       }
       .flexRec:nth-child( 3) {
    
        flex-basis: 50%;
       }
       .flexRec:nth-child(4) {
    
        flex-basis: 50%;
       }




      .listflexbox{display: flex; flex-direction: row; flex-flow: wrap;}

      .listflex:nth-child(1) {
    
        flex-basis: 49%;
     
       
       }
 
       .listflex:nth-child(2) {
     
         flex-basis: 50%;
        }
        .listflex:nth-child(3) {
     
         flex-basis: 50%;
        }
        .listflex:nth-child(4) {
     
         flex-basis: 50%;
        }
 
        .colorflexcontain{display: flex; flex-direction: row;}

        .colorflex{ padding-right: 50px;} 

        .icone{display: flex; flex-direction: row;}
        .iconecontain{padding-left: 50px;}

 }




@media (min-width: 1380px) { 
    
    .herosection{
         
        align-items: center; 
        align-content: space-around   
    }  

    .herocontainer{ margin-left: 18%;width: 500px; margin-top: 200px;}

    .phone{ display: block;
     position: absolute;
     right: 250px;
     top: 200px;
    }

    .MainText{
        padding-left: 18%;
        padding-right: 18%;
        
    }


   .ListContenaire{

        padding-left: 18%;
        padding-right: 18%;
        
    }

    .flexboxContenaier{padding-left: 18%;
        padding-right: 18%;}

    .ego{margin-top: 200px; }


    .flexRec:nth-child(1) {
    
        flex: 1 33%
       }
 
       .flexRec:nth-child(2) {
     
        flex: 1 33%

        }
        .flexRec:nth-child( 3) {
     
            flex: 1 33%
        }
        .flexRec:nth-child(4) {
     
        flex: 1 66% 
        }

        .flexRec:nth-child(5) {
     
            flex: 1 33%
           }
   



           .listflex:nth-child(1) {
    
           flex: 1 
         
           
           }
     
           .listflex:nth-child(2) {
         
            flex: 1 
            }
            .listflex:nth-child( 3) {
         
                flex: 1 
            }
            .listflex:nth-child(4) {
         
                flex: 1 
            }

            .imageSection{align-items: flex-end; }

            .imagecontenaire{ width: 450px;   margin-left: 18%;margin-bottom: 200px; }
            .iconeright{background: white; box-shadow: 1px 1px 10px black; border-radius: 5px;}

            .iconecontain{padding: 25px;}




            .footters {display: flex; flex-flow: row wrap;}
            .footerchild {
     
                flex-basis: 50%;
                
               
               }

               .colorsection{
                padding-left: 18%;
                padding-right: 18%; 
               }

               
 }