@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    padding: 0m;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 45px;
}
.logo{ position: absolute;
    top: 10px;
    left: 20px;
}
.herosection{
    width: 100%;
    background-image: url(images/masthead.jpg);
    background-position: center;
    height: 750px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-attachment: fixed ; 
   
   
}
.herocontainer{
    width: 150px;
    height: 300px;
    color: white;
    margin-left: 13%;
    
     
}

.phone{ display: none;}

.MainText{
    padding-left: 13%;
    padding-right: 13%;
    margin-top: 80px;
}

.MainText *{
    margin-top: 20px;
}

.grey{
  color: grey;
}





